.product__buy-btn {
  display: block;
  width: 356px;
  height: 49px;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 49px;
  text-transform: uppercase;
  background-color: #37d997;
  border-radius: 15px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  margin: 19px auto 0px;
}
